# list of contacts to be used for notifications

define contactgroup {
        contactgroup_name       admins
        alias                   Nagios Administrators
{% if nagios_admin_group_contact is defined %}
        members                 {{ nagios_admin_group_contact }}
{% endif %}
}

{% for c in nagios_contacts %}
define contact {
  contact_name     {{c.name}}
  use	             generic-contact
  email            {{c.mail}}

  {% if c.notify  %}
  service_notification_commands   notify-service-by-{{c.notify | join(", notify-service-by-")}}
  host_notification_commands      notify-host-by-{{c.notify | join(", notify-host-by-")}}
  {% else %}
  {% if c.email %}
  service_notification_commands   notify-service-by-email}}
  host_notification_commands      notify-host-by-email}}
  {% endif %}
  {% endif %}

}
{% endfor %}
