# list of contacts to be used for notifications

define contact {
  contact_name     {{nagios_admin_contact.name}}
  use	             generic-contact
  alias            Nagios Admin
  email            {{nagios_admin_contact.mail}}

  service_notification_commands   notify-service-by-{{nagios_admin_contact.notify | join(", notify-service-by-")}}
  host_notification_commands      notify-host-by-{{nagios_admin_contact.notify | join(", notify-host-by-")}}

}

define contactgroup {
        contactgroup_name       admins
        alias                   Nagios Administrators
        members                 nagiosadmin
}

{% for c in nagios_contacts %}
define contact {
  contact_name     {{c.name}}
  use	             generic-contact
  email            {{c.mail}}

  {% if c.notify  %}
  service_notification_commands   notify-service-by-{{c.notify | join(", notify-service-by-")}}
  host_notification_commands      notify-host-by-{{c.notify | join(", notify-host-by-")}}
  {% else %}
  {% if c.email %}
  service_notification_commands   notify-service-by-email}}
  host_notification_commands      notify-host-by-email}}
  {% endif %}
  {% endif %}

}
{% endfor %}
