# creating global file for all ansible hosts and the default host parameters

# Linux host definition template - This is NOT a real host, just a template!

define host{
        name                            default-ansible-host
        use                             generic-host
        check_period                    24x7
        check_interval                  5  ; in minutes
        retry_interval                  1  ; in minutes
        max_check_attempts              10
        check_command                   check-host-alive
        notification_period             24x7
        notification_interval           30              ; in minutes
        notification_options            d,u,r,f,s  ; all states
        contact_groups                  admins
        register                        0
        }



{% for host in groups['all'] %}

# host {{ host }}
{% if (hostvars[host].nagios_exclude_host is not defined) or (not hostvars[host].nagios_exclude_host) %}
define host{
        use           default-ansible-host
        host_name     {{host}}
        address       {{hostvars[host]['ansible_host']}}
{% if 'nagios_host_owner' in hostvars[host] %}
        contacts      {{hostvars[host].nagios_host_owner}}
{% endif %}
        notes         Nagios config by ansible
        }
{% else %}
# host excluded (nagios_exclude_host is set to True)
{% endif %}

{% endfor %}
