# creating global file for all ansible hosts

{% for host in groups['all'] %}

#
# host {{ host }}
#
{% if hostvars[host].nagios_exclude_host %}
# host excluded
# (nagios_exclude_host is set to True)
{% elif hostvars[host].nagios_host_checks is not defined%}
# No checks for this host
# (nagios_host_checks is undefined)
{% else %}
{% for service,command in hostvars[host].nagios_host_checks.items() %}
define service{
  use         generic-service         ; Name of service template to use
  host_name		{{host}}
	service_description	{{service}}
	check_command		{{command}}
}
{% endfor %}
{% endif %}

{% endfor %}
